{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'enquete/enquete.css' %}" />

<h1> {% autoescape off %} {{ enquete.titulo }} {% endautoescape %} </h1>

<h3> {% autoescape off %} {{ enquete.preambulo }} {% endautoescape %} </h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'enquete:votar' enquete.id %}" method="post">
    {% csrf_token %}
    {% for pergunta in formulario %}
        <hr>
        {% autoescape off %} {{ pergunta.label }} {% endautoescape %}
        {{ pergunta }}
    {% endfor %}
    
    <input type="submit" value="Vai trem!" />
</form>
