{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'enquete/enquete.css' %}" />

{% if enquetes %}
    <ul>
    {% for enquete in enquetes %}
        <li><a href={% url 'enquete:detalhes' enquete.id %}>{{ enquete.titulo }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nehuma enquete disponível.</p>
{% endif %}
