<h1>{{ pergunta.texto_pergunta }}</h1>

<ul>
{% for pergunta in enquete.pergunta_set.all %}
    {% autoescape off %} {{ pergunta.texto_pergunta }} {% endautoescape %}
    {% for escolha in pergunta.escolha_set.all%}
        <li>{% autoescape off %} {{ escolha.texto_escolha }} {% endautoescape %} -- {{ escolha.votos }} voto{{ escolha.votos|pluralize }}</li>
    {% endfor %}
{% endfor %}
</ul>


