{% extends "blog/index.html" %}

{% block MainPage %}
    {% if artigo.publicado == True %}
        <article>
          <h3> <a href="{% url 'blog:ver_artigo' artigo.id %}"> {{ artigo.titulo }} </a> </h3>
          <h6> {{ artigo.data_publicacao }} </h6>

          {% block content %}
            {% autoescape off %} {{ artigo.conteudo }} {% endautoescape %}
          {% endblock %}
        </article>
        
        <!-- Barra horizontal -->
        <hr>
        
        <h3>Seção de comentários</h3>
        {% if comentarios %}
          {% for comentario in comentarios %}
            {% if comentario.publicado %}
              <h6> Por {{comentario.autor}}, em {{ comentario.data_publicacao }} </h6>
              {% block secao_comentarios %}
                {% autoescape off %} {{ comentario.conteudo }} {% endautoescape %}
              {% endblock %}
            {% endif %}
          {% endfor %}
        {% endif %}
        
        <hr>
        {% if comentario_recebido %}
          <h3>Comentário enviado com sucesso!</h3>
          <p>Seu comentário foi recebido e está aguardando moderação. Em breve será publicado!</p>
        {% else %}
          <h3>Novo comentário</h3>
          <form action="." method="post">
            {% load widget_tweaks %}
            {% csrf_token %}
            <p> 
              {{ formulario.autor.errors }}
              {{ formulario.autor.label }} <br> {{ formulario.autor|add_class:"comentario_autor" }} 
            </p>
            <p>
              {{ formulario.conteudo.errors }}
              {{ formulario.conteudo.label }} <br> {{ formulario.conteudo|add_class:"comentario_conteudo" }}
            </p>
            <input type="submit" value="Vai!" />
          </form>
        {% endif %}
    {% endif %}
{% endblock %}

