{% extends "blog/index.html" %}

{% block MainPage %}
    {% if artigos %}
        {% for artigo in artigos %}
            {% if artigo.publicado == True %}
                <article>
                  <h3> <a href="{% url 'blog:ver_artigo' artigo.id %}"> {{ artigo.titulo }} </a> </h3>
                  <h6> {{ artigo.data_publicacao }} </h6>

                  {% block content %}
                    {% autoescape off %} {{ artigo.conteudo }} {% endautoescape %}
                  {% endblock %}
                </article>
                
                <!-- Barra horizontal -->
                <hr />
            {% endif %}
        {% endfor %}
    {% else %}
        <p> Não existem artigos ainda! </p>
    {% endif %}
{% endblock %}

