<!DOCTYPE html>
<html lang="pt"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% load staticfiles %}
    
    <link rel="stylesheet" href="{% static 'home/css/stylesheet.css' %}" />

    <title>José Roberto Colombo Junior</title>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title">José Roberto Colombo Junior</h1>
          <h2 id="project_tagline">Bem vindo ao meu blog</h2>

        </header>
    </div>
    
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <!-- Left Menu Bar -->
      <div id="nav" class="nav">
          <ul>
            <li id="home" class="active"><a href="/blog"> Categorias</a></li>
            {% for categoria in categorias %}
              <li><a href="{% url 'blog:ver_categoria' categoria.id %}">{{categoria.titulo}}</a></li>
            {% endfor %}
          </ul>
      </div>
      <section id="main_content" class="inner">

      {% block MainPage %} {% endblock %}
      <br>
  

</section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="footer">
      <p> <a href="https://www.djangoproject.com/"> <img class="imagem_footer" src="{% static "home/img/django-powered.png" %}" alt="Feito com Django."></a> </p>
    </div>
  
</body></html>
